{% extends 'base.html' %}

{% block content %}
        {% if educations %}
            <ul>
                {% for x in educations %}
                    <li>{{x.institution_name}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>No educations Found! Contact Admin!</h1>

        {% endif %}

        {% if experiences %}
            <ul>
                {% for x in experiences %}
                    <li>{{x.location}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>No experiences Found! Contact Admin!</h1>

        {% endif %}

    </body>
{% endblock %}